{{> header}}
<main>
    <h1>Please tell us a bit about yourself</h1>
    <form action="/profile" method="post">
        <div>
            <label for="age">Age</label>
            <input type="number" name="age" id="age" />
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city" />
        </div>
        <div>
            <label for="url">Homepage</label>
            <input type="url" name="url" id="url" />
        </div>

        <button type="submit">Continue</button>
    </form>
</main>