{{> header2 }}
<body>
<main class="base">

    <h1>Sign the Petition: No to digga!</h1>
<h2>Decreasing the overuse of this phrase in sentences</h2>
<h3>50 euros fine for using "Digga" more than once every sentence!</h3>
    <form class="gridTemplate" action="/register" method="post">
        <div>
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" placeholder="Enter your first name" />
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" placeholder="Enter your last name"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email"/>
            
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password"/>
        </div>
        <button type="submit">Register</button>
    </form>
</main>
</body>